.the-table{
    background: #277714;
    border-radius: 10px;
    padding: 20px;
    margin-top: 50px;
}
.the-numbers{
    color: white;
    font-size: 55px;
    font-family: 'lobster', cursive;
}
.player-message{
    color: greenyellow;
    font-size: 30px;
    font-family:'lobster';
}
.deck{
    border: 1px solid;
    background-color: white;
    border-radius: 10px;
}